::selection {
    background-color: #7479B380;
    color: #E5E9F0;}
::-moz-selection {
    background-color: #7479B380;
    color: #E5E9F0;}
:focus {
    outline-color: transparent;
    outline-width: 0;}

html,
body {
    height: 100%;
    margin: 0;
}
html{
    scrollbar-width: none;
    overflow-y: auto;
    overflow-x: hidden;
}
html > html::-webkit-scrollbar {
    display: none;
}

.body-auth{
    height: 100vh;
    align-items: center !important;
    display: flex;
    justify-content: center; 
    padding: 40px 0;
}

main{
    padding-bottom: 70px;
}

.form-signin {
    max-width: 350px;
    padding: 1rem;
}

.btn-bd-primary {
    --bd-violet-bg: #7d86be;
    --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bd-violet-bg);
    --bs-btn-border-color: var(--bd-violet-bg);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #8F96BF;
    --bs-btn-hover-border-color: #8F96BF;
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #8F96BF;
    --bs-btn-active-border-color: #8F96BF;
}
.bd-mode-toggle { z-index: 1500 }

.bd-mode-toggle .dropdown-menu .active .bi { display: block !important }
.bi {
    vertical-align: -.125em;
    fill: currentColor }

.blur{ filter: blur(5px) }

.navbar-blur::before {
    background-color: var(--bs-body-bg);
    content: "";
    position: absolute;
    top: -15px;
    left: 0;
    width: 100%;
    height: 85px;
    z-index: -1; /* Помещаем псевдоэлемент за фоном контента */
    filter: blur(5px); /* Применяем размытие */
}

.btn-primary-auth{
    border-radius: 20px;
    background-color: var(--disabled-bg);
    color: #FFFFFF;
    box-shadow: 0px 0px 10px var(--box-shadow-color);
}

a{
    color: var(--bs-body-color);
    text-decoration: none;
}

.logo path {
    fill: var(--bs-body-color);
}

footer{
    padding: 5px;
}
.dark-nav{
    padding: 5px 10px;
    background-color: var(--input-color);
    border-radius: 10px;
    box-shadow: 0px 0px 20px var(--box-shadow-color);
}
.dark-nav-vertical{
    padding: 5px 10px;
    background-color: var(--input-color);
    border-radius: 10px;
    box-shadow: 0px 0px 20px var(--box-shadow-color);
    width: 60px;
    height: 500px;
    position: absolute;
    left: -25%;
    bottom: calc(50vh - 200px);
}

.change{
    float: right;
    left: 10px;
}
.change a {
    padding-right: 10px;
    font-size: 14px;
}
.link-color a {
    color: var(--bs-link-color);
}


.block_week {
    background-color: var(--input-color);
    box-shadow: 0px 0px 2px var(--input-color);
    font-size: 16px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    margin: 0px 6px;
}
.block_week:hover .additional-text{
    color: #fff;
    background-color: #5b5e70;
}
.block_week:active .additional-text{
    color: #fff;
    background-color: #5b5e70;
}
/* Стили для дополнительного текста */
.additional-text {
    position: absolute;
    top: 100%;
    padding: 2px 5px;
    border-radius: 4px;
    text-align: center;
    margin-top: 5px;
    color: transparent;
    background-color: transparent;
    transition: .3s linear;
}

.bg-danger{
    box-shadow: 0px 0px 2px rgb(var(--bs-danger-rgb));
    color: white;
}
.bg-success{
    box-shadow: 0px 0px 2px rgb(var(--bs-success-rgb));
    color: white;
}

.card a{
    font-size: 18px;
    color: var(--card-text-header);
}

.book-text{
    font-size: 40px;
    font-weight: bold;
    color: var(--book-text);
}

.hover-text-opacity #wordsToLearn {
    opacity: 0;
    transition: opacity 0.5s ease;
}

.hover-text-opacity:hover #wordsToLearn {
    opacity: 1;
}
.hover-text-opacity:active #wordsToLearn {
    opacity: 1;
}
.container{
    max-width: 750px;
}


.badge-error{
    padding: 5px 13px;
    border-radius: 50%;
    background-color: rgb(var(--bs-danger-rgb));
    border: 0px solid rgb(var(--bs-danger-rgb));
    color: var(--bs-white);
    z-index: 10;
}

.badge-seccses{
    padding: 5px 12px;
    border-radius: 10px;
    background-color: rgb(var(--bs-success-rgb));
    border: 0px solid rgb(var(--bs-success-rgb));
    color: var(--bs-white);
    z-index: 10;
}

.nav-link{
    padding: 8px;
    margin: 0px 4px;
    background-color: var(--input-color);
    border-radius: 8px;
    outline: none;
    transition: transform .3s;
}

.nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    background: var(--book-text);
    transition: width 0.3s, height 0.3s;
}

.nav-link:hover::after {
    width: 8px;
    height: 8px;
}

.nav-link:hover {
    transform: translateY(-5px);
}

.nav-link.active_link::after {
    width: 8px;
    height: 8px;
}

.nav-link.active_link {
    transform: translateY(-5px);
}


.dark-block{
    background-color: var(--input-color);
    border-radius: var(--bs-border-radius);
    color: var(--bs-body-color);
    padding: 5px 10px;
    box-shadow: 0px 0px 10px var(--box-shadow-color);
    border: none;
    width: 100%;
    height: 100%;
}

.book-text-read {
    font-size: 18px;
    line-height: 1.6;
    text-align: justify;
    color: var(--bs-body-color);
    padding: 10px;
    border-radius: 8px;
    max-width: 100%;
    overflow-wrap: break-word;
    word-break: break-word;
    box-sizing: border-box;
}

.book-text-read p {
    margin-bottom: 1.5em;
}

.book-text-read h1, .book-text-read h2, .book-text-read h3 {
    color: var(--bs-body-color);
    line-height: 1.2;
    margin-bottom: 0.5em;
}


.toggle-block {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
}
.toggle-block.show {
    max-height: 500px;
}

.toggle-span {
    cursor: pointer;
}

.bg-card-dark{
    background: var(--input-color);
}
.bg-card-second{
    background: var(--book-text);
}

.svg-background {
    position: absolute;
    top: 52%;
    right: 10%;
    transform: translateY(-50%) rotate(20deg) scale(2);
}

.svg-background svg{
    opacity: .5;
    fill: white;
}

.color-svg svg{
    fill: var(--book-text);
}

.card {
    transition: transform .1s linear;
    color: var(--card-text-header);
}

.card-btn:hover {
    transform: scale(1.025);
}

.overflow-box {
    overflow: hidden;
    box-sizing: border-box;
}

.card-text-lr{
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

.author {
    border-radius: 5px;
    height: 20px;
    background-color: #fff;
}

.title,
.page,
.author {
    position: relative;
    overflow: hidden;
    background-color: #5b5e70;
    border-radius: 5px;

}
.title::before,
.page::before,
.author::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, transparent, #b3b3b3, transparent);
    animation: shimmer 1.5s infinite;
}

@keyframes shimmer {
    0% {
        left: -100%;
    }
    100% {
        left: 100%;
    }
}

.border-none{
    border: none;
}

.mark{
    top: 10%;
    left: 92%;
    background-color: transparent;
}

.word-history {
    max-height: 350px;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.word-history::-webkit-scrollbar {
    display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input[type='number'] {
    -moz-appearance: textfield;
}


.box-none{
    box-shadow: none;
}

.pagination-position{
    width: 200px;
    position: fixed;
    bottom: 75px;
    left: calc(50% - 100px);
    opacity: .4;
    transition: .5s;
}
.pagination-position:hover{
    width: 200px;
    position: fixed;
    bottom: 75px;
    left: calc(50% - 100px);
    opacity: 1;
}

.btn-plus-minus{
    background-color: var(--input-color);
}
.btn-plus-minus:hover{
    background-color: var(--disabled-bg);
}


.statistic{
    padding-top: 5px;
    background-color: var(--book-text);
}
.statistic h4{
    font-size: 30px;
    font-weight: bold;
    color: white;
}
.statistic span{
    padding: 0px 0px 5px 10px;
    font-size: 12px;
    color: white;
}


.collapse {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
}
  
.collapse.show {
    max-height: 500px; /* Adjust to the maximum height of your content */
}