

.skeleton{
    padding: 10px;
    border-radius: 10px;
    background-color: #a2abe3;
    margin-bottom: 20px;
    height: 70px;
    position: relative;
    overflow: hidden;
    min-width: 260px;
    max-width: 400px;
    margin: 20px;
}

.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}




.title {
    width: 70%;
    height: 20px;
    border-radius: 5px;
    background-color: #ff8e8e;
    margin-bottom: 25px;
}

.page {
    border-radius: 5px;
    height: 20px;
    width: 30%;
    background-color: #fff;
}

.author {
    border-radius: 5px;
    height: 20px;
    width: 60%;
    background-color: #fff;
}



.title,
.page,
.author {
    position: relative;
    overflow: hidden;
    background-color: #c5cdff;
    border-radius: 5px;

}

.title::before,
.page::before,
.author::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, transparent, #ffffff, transparent);
    animation: shimmer 1.5s infinite;
}

@keyframes shimmer {
    0% {
        left: -100%;
    }
    100% {
        left: 100%;
    }
}
